app_name: flight-microservices
connections:
  - config: !Postgres
      user: postgres
      password: postgres
      host: 0.0.0.0
      port: 5437
      database: flights
    name: bookings_conn
  - config: !Postgres
      user: postgres
      password: postgres
      host: 0.0.0.0
      port: 5437
      database: flights
    name: flights_conn

sql: |


  -- BOOKING DETAILS
    select passenger_id, passenger_name, 
      b.book_ref, book_date, total_amount, 
      t.ticket_no, tf.flight_id, fare_conditions, tf.amount, 
      f.flight_no, f.scheduled_arrival, f.scheduled_departure,  
      f.departure_airport, f.arrival_airport, f.actual_arrival, f.actual_departure
    into bookings_details
    from bookings b 
    inner join tickets t on t.book_ref = b.book_ref 
    inner join ticket_flights tf on tf.ticket_no = t.ticket_no
    inner join flights f on tf.flight_id = f.flight_id;


    
  -- FLIGHT ROUTES
  WITH tbl AS (
  SELECT f2.flight_no,
    f2.departure_airport,
    f2.arrival_airport,
    f2.aircraft_code,
    f2.duration,
    f2.days_of_week
    FROM ( SELECT f1.flight_no,
            f1.departure_airport,
            f1.arrival_airport,
            f1.aircraft_code,
            f1.duration,
            f1.days_of_week
            FROM ( SELECT flights.flight_no,
                    flights.departure_airport,
                    flights.arrival_airport,
                    flights.aircraft_code,
   --  (flights.scheduled_arrival - flights.scheduled_departure) AS duration,
   20 as duration,
   -- (to_char(flights.scheduled_departure, 'ID'::text))::integer AS days_of_week
          1 as days_of_week
                        FROM flights) f1
              GROUP BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week
          --   ORDER BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week
          ) f2
      GROUP BY f2.flight_no, f2.departure_airport, f2.arrival_airport, f2.aircraft_code, f2.duration, f2.days_of_week
        )
    SELECT f3.flight_no,
      f3.departure_airport,
      dep.airport_name AS departure_airport_name,
      dep.city AS departure_city,
      f3.arrival_airport,
      arr.airport_name AS arrival_airport_name,
      arr.city AS arrival_city,
      f3.aircraft_code,
      f3.duration,
      f3.days_of_week
    INTO routes  
    FROM tbl f3
      JOIN  airports dep on f3.departure_airport = dep.airport_code
      JOIN airports arr ON f3.arrival_airport = arr.airport_code;

sources:
  - name: tickets
    table_name: tickets
    columns:
    connection: !Ref bookings_conn

  - name: bookings
    table_name: bookings
    columns:
    connection: !Ref bookings_conn

  - name: ticket_flights
    table_name: ticket_flights
    columns:
    connection: !Ref bookings_conn

  - name: airports
    table_name: airports
    columns:
    connection: !Ref flights_conn

  - name: flights
    table_name: flights
    columns:
    connection: !Ref flights_conn

endpoints:
  - name: bookings_details
    path: /bookings/details
    table_name: bookings_details
    index:
      primary_key:
        - book_ref
        - ticket_no
        - flight_no

  - name: routes
    path: /routes
    table_name: routes
    index:
      primary_key:
        - flight_no
        - days_of_week
