version: 1
app_name: snowflake-tutorial

connections:
  - config: !Snowflake
      server: "{{SF_SERVER}}"
      port: 443
      user: "{{SF_USER}}"
      password: "{{SF_PASSWORD}}"
      database: "{{SF_DB}}"
      schema: PUBLIC
      warehouse: "{{SF_WAREHOUSE}}"
      driver: "SnowflakeDSIIDriver"
      role:  "{{SF_ROLE}}"
    name: sn_data

sources:
  - name: customers
    connection: sn_data
    table_name: CUSTOMERS
  - name: orders
    connection: sn_data
    table_name: ORDERS

sql: |
  SELECT C_CUSTKEY, C_NAME, COUNT(O_CUSTKEY), AVG(O_TOTALPRICE)
  INTO customers_orders
  FROM customers
  JOIN orders on C_CUSTKEY = O_CUSTKEY
  GROUP BY C_CUSTKEY, C_NAME;

  SELECT C_CUSTKEY, C_NAME, C_ADDRESS, C_NATIONKEY, C_PHONE, C_ACCTBAL, C_MKTSEGMENT, C_COMMENT
  INTO customers_data
  FROM customers;

  SELECT O_ORDERKEY, O_CUSTKEY, O_ORDERSTATUS, O_TOTALPRICE, O_ORDERDATE, O_ORDERPRIORITY, O_CLERK, O_SHIPPRIORITY, O_COMMENT
  INTO orders_data
  FROM orders;

endpoints:
  - name: customers
    path: /customers
    table_name: customers_data
    index:
      primary_key:
        - C_CUSTKEY
  - name: orders
    path: /orders
    table_name: orders_data
    index:
      primary_key:
        - O_ORDERKEY
  - name: customers_orders
    path: /customers_orders
    table_name: customers_orders
    index:
      primary_key:
        - C_CUSTKEY
        - C_NAME

api:
  app_grpc:
    host: "{{APP_HOST}}"
